@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login page</h1>

<hr />

<div class="row">
    <div class="col-4md-4">
        <form asp-action="LogIn">
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input for="username" name="username" class="form-control" />
                <span for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input for="password" name="password" class="form-control" value="" />
                <span for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="LogIn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
