@model IEnumerable<SignedDocumentsViewModel>

<partial name="_Sign-Unsign_Nav-bar" />

@{
    ViewData["Title"] = "Signed Documents";
}
<h4 class="display-4">Signed documents</h4>

<script>
    function ConfirmDelete(IdSignedDocument, Name) {
        $("#IdSignedDocument").val(IdSignedDocument);
        document.getElementById("Name").innerHTML = Name;
        $("#DeleteModal").modal("show");
    }
    function DeleteDocument() {
        var IdSignedDocument = $("#IdSignedDocument").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("DeleteDocument")",
            data: { id: IdSignedDocument },
            dataType: "text",
            success: function (result) {
                $("#DeleteModal").modal("hide");
                location.reload();
            }
        })

    }
</script>

<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="SignedByUsername" type="search" class="form-control rounded" placeholder="Signed by username" aria-label="Search"
               aria-describedby="search-addon" />
        <input name="SentFromUsername" type="search" class="form-control rounded" placeholder="Sent from username" aria-label="Search"
               aria-describedby="search-addon" />
        <input type="submit" class="btn btn-primary" value="search" />
    </div>
</form>


<br />

@if (TempData["DoNotHaveAnySignedDocuments"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["DoNotHaveAnySignedDocuments"]</p>
}

@{
    foreach (var signedDocument in Model)
    {

        <partial name="_SignedDocumentCard" model="signedDocument" />

    }
}


<div id="DeleteModal" class="modal" tabindex="-1" role="dialog">
    <input type="hidden" id="IdSignedDocument" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p style="color:#e80c0f"><strong>Danger:</strong>Signature and document can not be recovered after you confirm delete action!</p>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete signed document : <strong><span id="Name"></span></strong> ?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="submit" class="btn btn-primary" onclick="DeleteDocument()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>