@model IEnumerable<SignedDocumentsViewModel>

<partial name="_Sign-Unsign_Nav-bar" />

@{
    ViewData["Title"] = "Signed Documents";
}
<h4 class="display-4">Signed documents</h4>

<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="SignedByUsername" type="search" class="form-control rounded" placeholder="Signed by username" aria-label="Search"
               aria-describedby="search-addon" />
        <input name="SentFromUsername" type="search" class="form-control rounded" placeholder="Sent from username" aria-label="Search"
               aria-describedby="search-addon" />
        <input type="submit" class="btn btn-outline-primary" value="search" />
    </div>
</form>


<br />

@if (TempData["DoNotHaveAnySignedDocuments"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["DoNotHaveAnySignedDocuments"]</p>
}

@{
    foreach (var signedDocument in Model)
    {

        <partial name="_SignedDocumentCard" model="signedDocument" />

    }
}