@model IEnumerable<UnsignedDocument>
@{
    ViewData["ShowSignButton"] = false;
}

<partial name="_Sign-Unsign_Nav-bar" />


<h4 class="display-4">Signed Documents</h4>

@{
    foreach (var unsignedDocuments in Model)
    {
        <partial name="_UnsignedDocumentCard" model="unsignedDocuments" view-data="ViewData" />
    }
}
