@model IEnumerable<UnsignedDocument>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" asp-area="" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsign documents</a>
    <a class="navbar-brand" asp-area="" asp-controller="SignedDocuments" asp-action="SignedDocumentsHistory">Signed documents</a>
</nav>

<h4 class="display-4">Signed Documents</h4>
