<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trustme</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />
    <link rel="stylesheet" href="~/lib/jquery/jquery.min.js" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ProfileCard.css" />

</head>
<body>
    <header>

        @{

            @using System.Security.Claims;
            @using Trustme.IServices;



            @inject IKeyRepository _KeyRepository
            @inject IHttpRequestFunctions _IHttpRequestFunctions;
            @inject IUnsignedDocumentRepository _UnsignedDocumentRepository;
            @inject IUserRepository _UserRepository;
            @inject ISignedDocumentRepository _SignedDocumentRepository;
            @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



            var username = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
            var userRole = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
            UserRoleUserName userRoleUserName = new UserRoleUserName { UserName = username, UserRole = userRole };
            if (username != null)
            {
                User user = _UserRepository.GetUserbyUsername(username);
                TempData["UnsignedNrSeen"] = _UnsignedDocumentRepository.CountSeen(user);
                TempData["SignedNrSeen"] = _SignedDocumentRepository.CountSeen(user);
            }
        }
        <partial name="_NavBar" model="userRoleUserName" />

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Trustme - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
