@model UserRoleUserName
 
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        @if (TempData["Trustme"] != null)
        {
            <a class="navbar-brand" style="background-color: #eae6f2;" asp-controller="Home" asp-action="Index">Trustme</a>

        }
        else
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Trustme</a>
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-right">
            <ul class="navbar-nav flex-grow-1">
                @{
                    if (Model.UserName == null || Model.UserRole != "Admin")
                    {

                        <li class="nav-item">
                            @if (TempData["Verify"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="VerifySignature" asp-action="VerifyUser">Verify</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="VerifySignature" asp-action="VerifyUser">Verify</a>
                            }
                        </li>
                    }
                    if (Model.UserName != null && Model.UserRole == "Admin")
                    {

                        <li class="nav-item">
                            @if (TempData["Admin"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="Administrator" asp-action="Users">Users</a>

                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Administrator" asp-action="Users">Users</a>
                            }
                        </li>
                    }
                    if (Model.UserName != null && Model.UserRole != "Admin")
                    {

                        <li class="nav-item">
                            @if (TempData["Upload"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="Upload" asp-action="UploadUser">Upload</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Upload" asp-action="UploadUser">Upload</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (TempData["Documents"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-area="" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Documents</a>
                            }
                            else
                            {
                                if (TempData["NrSeen"] != null && (int)TempData["NrSeen"] != 0)
                                {
                                    <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">@TempData["NrDelivered"]</span> 
                                }
                                    <a class="nav-link text-dark" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Documents</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (TempData["Generate"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="GenerateCertificate" asp-action="Generate">Generate Certificate</a>

                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="GenerateCertificate" asp-action="Generate">Generate Certificate</a>
                            }
                        </li>
                    }

                }
                @{
                    if (Model.UserName != null)
                    {
                        <li class="nav-item">
                            @if (TempData["Profile"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="Profile" asp-action="UserProfile">Profile</a>

                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Profile" asp-action="UserProfile">Profile</a>
                            }
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            @if (TempData["Login"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="Authenticate" asp-action="LogIn">Login</a>

                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Authenticate" asp-action="LogIn">Login</a>
                            }
                        </li>

                        <li class="nav-item">
                            @if (TempData["Register"] != null)
                            {
                                <a class="nav-link text-dark" style="background-color: #eae6f2;" asp-controller="Authenticate" asp-action="Register">Register</a>

                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-controller="Authenticate" asp-action="Register">Register</a>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>