@model Pending

<br />

<form asp-action="AllowUserSendDocuments" method="get">
    <input type="hidden" name="IdPedingUsers" value=@Model.IdPedingUsers id="IdPedingUsers" />
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <div class="form-group">
                Username <strong>@Model.UsernameWhoSentPending</strong> wants to sent you documents to sign
            </div>
            <div class="form-group">
                Time pending request was sent:
                @Model.TimeSentPendingRequest
            </div>
            <div class="form-group">
                <input type="submit" value="Allow" class="btn btn-primary" />
                <a asp-action="#" class="btn btn-danger">Block</a>
            </div>
        </div>
</div>
<br>
</form>

