

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="SignDocuments" asp-action="UnsignedDocuments" data-toggle="tab" >Unsigned</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers" data-toggle="tab">Signed</a>
    </li>
</ul>




