<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsigned</a>
    </li>    
    <li class="nav-item">
        <a class="nav-link active" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed</a>
    </li>

</ul>