
<nav class="navbar-nav">
    <a  class="btn btn-outline-light" asp-area="" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsign documents</a>
    <br />
    <a  class="btn btn-outline-light" asp-area="" asp-controller="SignedDocuments" asp-action="SignedDocumentsHistory">Signed documents by you</a>
</nav>
