<link rel="stylesheet" type="text/css" href="~/css/test.css" />

<script>
    $(document).on('click', 'ul li', function () {
        $(this).addClass('active').siblings.removeClass('active')
    })
</script>



<ul >
    <li class="active" >
        <a id="tabs-1" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsigned</a>
    </li>
    <li >
        <a id="tabs-2"  asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed</a>
    </li>
    <li >
        <a id="tabs-3" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">test</a>
    </li>
</ul>




