
<ul class="nav nav-tabs">
    <li class="nav-item">
        @{
            if (TempData["UActiveTab"] != null)
            {

                <a class="nav-link active" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsigned</a>
            }
            else
            {
                if (TempData["UnsignedNrUnseen"] != null && (int)TempData["UnsignedNrUnseen"] != 0)
                {
                    <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">@TempData["UnsignedNrUnseen"]</span>
                }
                <a class="nav-link" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsigned</a>
            }
        }
    </li>
    <li class="nav-item">
        @{
            if (TempData["SActiveTab"] != null)
            {
                <a class="nav-link active" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed</a>

            }
            else
            {
                if (TempData["SignedNrUnseen"] != null && (int)TempData["SignedNrUnseen"] != 0)
                {
                    <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">@TempData["SignedNrUnseen"]</span>
                }
                <a class="nav-link" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed</a>
            }

        }
    </li>
</ul>

