<script>
    $(document).on('click', 'ul li', function () {
        $(this).addClass('active').siblings.removeClass('active')
    })
</script>

<style>
    ul li a
    {
        position: relative;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: aquamarine;
        font-weight: bold;
    }

    ul li.active a
    {
        background: #808080;
        color: #fff;
    }
</style>

<ul >
    <li class="active" >
        <a id="tabs-1" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsigned</a>
    </li>
    <li >
        <a id="tabs-2"  asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">Signed</a>
    </li>
    <li >
        <a id="tabs-3" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers">test</a>
    </li>
</ul>




