
<ul class="nav nav-tabs">
    <li class="nav-item">
        @{
            if (TempData["UActiveTab"] != null)
            {
                <a class="nav-link active" asp-controller="SignDocuments" asp-action="UnsignedDocuments" data-toggle="tab">Unsigned</a>
            }
            else
            {
                <a class="nav-link" asp-controller="SignDocuments" asp-action="UnsignedDocuments" data-toggle="tab">Unsigned</a>
            }
        }
    </li>
    <li class="nav-item">
        @{
            if (TempData["SActiveTab"] != null)
            {
                <a class="nav-link active" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers" data-toggle="tab">Signed</a>

            }
            else
            {
                <a class="nav-link" asp-controller="SignedDocuments" asp-action="SignedDocumentsFromUsers" data-toggle="tab">Signed</a>
            }

        }
    </li>
</ul>

