@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
    <div class="card-header text-info">
        <strong>Application reason</strong>
    </div>
    <div class="card-body text-info">
        <p>Keep information integrity and proves authentication</p>
    </div>
</div>

<div class="card">
    <div class="card-header text-info">
        <strong>How to use application?</strong>
    </div>
    <div class="card-body text-info">
        <p>Three steps</p>
        <ul>
            <li>Generate Certificate</li>
            <li>Upload</li>
            <li>Sign Document</li>
        </ul>
    </div>
</div>


