@{
    ViewData["Title"] = "Home Page";
}



<div class="card border-info mb-3">
    <img class="card-img-top" src="~/images/logo_home.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> Application reason </h5>
        <p class="card-text">Verifying the authenticity and integrity of digital document</p>
    </div>
</div>

<div class="card-group">


    <div class="card border-info mb-3">
        <div class="card-header">
            How to use application?
        </div>
        <div class="card-body ">
            <p>Three steps:</p>
            <ol>
                <li><strong>Generate</strong> certificate if you do not have one</li>
                <li><strong>Upload</strong> a document for you or for another user to sign</li>
                <li><strong>Sign</strong> document</li>
                <li>Verify signature if you don't Trustme (optional) </li>
            </ol>
        </div>
    </div>


    <div class="card border-info mb-3">
        <div class="card-header">
            How application works?
        </div>
        <div class="card-body ">
            <p>We generate a public and private key for you, we keep your public key on our server and give you the private one.</p>
            <p>When we sign document, we apply a hash function(sha256) and encrypt hash result with your private key that you will give it when you sign.</p>
            <p>When user will want to verify integrity and authenticity of a document, we will try to decrypt signature, hash document and compare the result hashes</p>
        </div>
    </div>

</div>

