.vs/Trustme/v16/.suo
Trustme/bin/Debug/netcoreapp3.1/Trustme.Views.dll
Trustme/bin/Debug/netcoreapp3.1/Trustme.Views.pdb
Trustme/obj/Debug/netcoreapp3.1/Trustme.Views.dll
Trustme/obj/Debug/netcoreapp3.1/Trustme.Views.pdb
