.vs/Trustme/v16/.suo
Trustme/bin/Debug/netcoreapp3.1/Trustme.Views.dll
Trustme/bin/Debug/netcoreapp3.1/Trustme.Views.pdb
Trustme/obj/Debug/netcoreapp3.1/Trustme.Views.dll
Trustme/obj/Debug/netcoreapp3.1/Trustme.Views.pdb
Trustme/obj/Debug/netcoreapp3.1/Trustme.csprojAssemblyReference.cache
.vs/Trustme/DesignTimeBuild/.dtbcache.v2
Trustme/bin/Debug/netcoreapp3.1/Trustme.dll
Trustme/bin/Debug/netcoreapp3.1/Trustme.pdb
Trustme/obj/Debug/netcoreapp3.1/Trustme.dll
Trustme/obj/Debug/netcoreapp3.1/Trustme.pdb
