@model UploadDocumentModel
@{
    ViewData["Title"] = "Upload Document";
    TempData["Upload"] = "active";

}

<br />

<div asp-validation-summary="All" class="text-danger"></div>

@if (TempData["SuccessUpload"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessUpload"]</p>
}

<form method="post" enctype="multipart/form-data" asp-action="UploadDocument">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <span>Please correct the following errors</span>
            </div>
            <input type="hidden" asp-for="Username" value=@Model.Username />
            <label asp-for="CertificateName">Choose a certifificate:</label>
            <select class="form-control" name="certificateName" id="certificateName">
                @{
                    if (Model != null)
                        foreach (var c in Model.Keys)
                        {
                            <option value=@c.CertificateName>@c.CertificateName</option>
                        }
                }
            </select>
            <br>
            <div class="form-group">
                <label asp-for="Document"><strong>Document</strong></label>
                <input asp-for="Document" type="file" >
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
