@model UploadDocumentModel

<h4 class="display-4">Upload document to sign</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>

@if (TempData["SuccessUpload"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccessUpload"]</p>
}

<form method="post" enctype="multipart/form-data" asp-action="UploadDocument">
    <input type="hidden" asp-for="Username" value=@Model.Username />
    <label asp-for="CertificateName">Choose a certifificate:</label>
    <select class="form-control" name="certificateName" id="certificateName">
        @{
            if (Model != null)
                foreach (var c in Model.Keys)
                {
                    <option value=@c.CertificateName>@c.CertificateName</option>
                }
        }
    </select>
    <br>
    <div class="form-group">
        <label asp-for="Document"><strong>Document</strong></label>
        <input asp-for="Document" type="file">
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
</form>
