
@{
    ViewData["Title"] = "Upload User";
    TempData["Upload"] = "active";
}

<br />


<div class="alert alert-info" role="alert">
    <ul>
        <li>You can upload a document <strong>for you</strong> to sign it later, but you need to <a asp-controller="GenerateCertificate" asp-action="Generate"><strong>generate certificate</strong></a> first!</li>
        <li>You can upload a document <strong>for others</strong>, if they had <strong>generated certificate</strong>!</li>
    </ul>
</div>


<form method="post" asp-action="UploadUser">
    <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <span>Please correct the following errors</span>
            </div>
            <div class="form-group">
                <label for="Username" class="control-label">Upload document for username:</label>
                <input for="Username" name="Username" type="text" class="form-control" data-val="true" data-val-required="The Username is required" />
                <span class="text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>