@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4 class="display-4">Generate certificates</h4>

<hr />

<form asp-action="GenerateCertificate">
    <div class="form-group">
        <label for="certificateName">Certificate name</label>
        <input for="certificateName" name="certificateName" type="text">
    </div>
    <label for="keySize">Choose key size:</label>
    <select class="form-control" name="keySize" id="keySize">
        <option value=512>512</option>
        <option value=1024>1024</option>
        <option value=2048>2048</option>
        <option value=4096>4096</option>
    </select>
    <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Generate Cerificate" class="btn btn-success" />
    </div>
</form>
<br />