@model KeysUnsignedDocumentViewModel

<h1>Sign documet</h1>
<form asp-action="SignSentDocumentCard" method="get">
    <input type="hidden" name="IdUnsignedDocument" value=@Model.UnsignedDocument.IdUnsignedDocument id="IdUnsignedDocument" />
    <div class="card">
        <div class="card-header">
            @Model.UnsignedDocument.Name
        </div>
        <div class="card-body">
            <p class="card-text">Key Preference: @Model.UnsignedDocument.KeyPreference </p>
            <label for="certificates">Choose a certifificate:</label>
            <select class="form-control" name="certificates" id="certificates">
                @{
                    foreach (var c in Model.Keys)
                    {
                        <option value=@c.KeyId>@c.CertificateName</option>

                    }
                }
            </select>
            <br>
            <div class="form-group">
                <input type="submit" value="Sign" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br>

</form>