@model IEnumerable<UnsignedDocument>


<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" asp-area="" asp-controller="SignDocuments" asp-action="UnsignedDocuments">Unsign documents</a>
    <a class="navbar-brand" asp-area="" asp-controller="SignedDocuments" asp-action="SignedDocumentsHistory">Signed documents by you</a>
</nav>

<h4 class="display-4">Unsigned Documents</h4>


<a class="btn btn-primary" style="margin-bottom:15px; margin-top:7px" asp-controller="SignDocuments" asp-action="SignDocument">Sign form disk</a>

@{
    foreach (var unsignedDocuments in Model)
    {
    
        <partial name="_UnsignedDocumentCard" model="unsignedDocuments" />
    }
}