@model IEnumerable<UnsignedDocument>
@{
    ViewData["Title"] = "Unsigned Documents";
}
<partial name="_Sign-Unsign_Nav-bar" />


<h4 class="display-4">Unsigned Documents</h4>


<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="Username" type="search" class="form-control rounded" placeholder="Username" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
</form>

<br />

    @if (TempData["DoNotHaveAnyUnsignedDocuments"] != null)
    {
        <p class="alert alert-warning" id="successMessage">@TempData["DoNotHaveAnyUnsignedDocuments"]</p>
    }



    @{
        foreach (var unsignedDocuments in Model)
        {

            <partial name="_UnsignedDocumentCard" model="unsignedDocuments" view-data="ViewData" />
        }
    }
