@model IEnumerable<UnsignedDocument>

    <a class="btn btn-primary" asp-controller="SignDocuments" asp-action="SignDocument">Sign my own document</a>
    <br>
    @{
        foreach (var udoc in Model)
        {
            <form asp-action="SignSentDocument">
                <input type="hidden" name="IdUnsignedDocument" value=@udoc.IdUnsignedDocument id="IdUnsignedDocument" />
                <div class="card">
                    <div class="card-header">
                        @udoc.Name
                    </div>
                    <div class="card-body">
                        <p class="card-text">Key Preference: @udoc.KeyPreference </p>
                        <div class="form-group">
                            <input type="submit" value="Sign" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <br>

            </form>
        }
    }