@model IEnumerable<UnsignedDocument>
@{
    ViewData["Title"] = "Unsigned Documents";
}
<partial name="_Sign-Unsign_Nav-bar" />


<h4 class="display-4">Unsigned Documents</h4>

<br />


@if (TempData["DoNotHaveAnyUnsignedDocuments"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["DoNotHaveAnyUnsignedDocuments"]</p>
}

@{
    foreach (var unsignedDocuments in Model)
    {

        <partial name="_UnsignedDocumentCard" model="unsignedDocuments" view-data="ViewData" />
    }
}