@model IEnumerable<UnsignedDocument>
@{
    ViewData["Title"] = "Unsigned Documents";
    TempData["SActiveTab"] = "active";
}

<partial name="_Sign-Unsign_Nav-bar" />

<h4 class="display-4">Unsigned Documents</h4>


<script>
    function ConfirmDelete(IdUnsignedDocument, Name) {
        $("#IdUnsignedDocument").val(IdUnsignedDocument);
        document.getElementById("Name").innerHTML = Name;
        $("#DeleteModal").modal("show");
    }
    function DeleteDocument() {
        var IdUnsignedDocument = $("#IdUnsignedDocument").val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("DeleteDocument")",
            data: { id: IdUnsignedDocument },
            dataType: "text",
            success: function (result) {
                $("#DeleteModal").modal("hide");
                location.reload();
            }
        })

    }

</script>


<form asp-action="Search" method="get">
    <div class="input-group">
        <input name="Username" type="search" class="form-control rounded" placeholder="Username" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="button" class="btn btn-primary">search</button>
    </div>
</form>

<br />

@if (TempData["SearchResult"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["SearchResult"]</p>
}



@if (TempData["DoNotHaveAnyUnsignedDocuments"] != null)
{
    <p class="alert alert-warning" id="successMessage">@TempData["DoNotHaveAnyUnsignedDocuments"]</p>
}



@{
    foreach (var unsignedDocuments in Model)
    {

        <partial name="_UnsignedDocumentCard" model="unsignedDocuments" view-data="ViewData" />
    }
}


<div id="DeleteModal" class="modal" tabindex="-1" role="dialog">
    <input type="hidden" id="IdUnsignedDocument" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p style="color:#e80c0f"><strong>Danger:</strong>Document can not be recovered after you confirm delete action!</p>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete unsigned document : <strong><span id="Name"></span></strong> ?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="submit" class="btn btn-primary" onclick="DeleteDocument()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>

</div>