@model VerifySignModel


<h4 class="display-4">Verify signature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="VerifySignatureDocument" enctype="multipart/form-data" method="post">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" name="Username" value=@Model.Username id="username" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label for="certificateName">Choose a certifificate:</label>
                    <select class="form-control" name="certificateName" id="certificateName">
                        @{
                            if (Model != null)
                                foreach (var c in Model.Keys)
                                {
                                    <option value=@c.CertificateName>@c.CertificateName</option>

                                }
                        }
                    </select>
                    <br />
                    <div class="form-group">
                        <label for="Signature" class="control-label">User signature:</label>
                        <textarea class="form-control" name="Signature" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Document">Document:</label>
                        <input for="Document" name="Document" type="file" class="form-control-file" />
                    </div>
                    @if (TempData["Error_MissingSignature"] != null)
                    {
                        <p class="alert alert-danger" id="documentError">@TempData["Error_MissingSignature"]</p>
                    }
                    @if (TempData["Error_MissingDocument"] != null)
                    {
                        <p class="alert alert-danger" id="documentError">@TempData["Error_MissingDocument"]</p>
                    }
                    <div class="form-group">
                        <input type="submit" value="Verify" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<br />
@*@{
    if (validSignature != null && validSignature == "valid")
    {
        <div class="alert alert-success" role="alert">
            Succes!!! This signature is valid!
        </div>
    }
    if (validSignature != null && validSignature == "invalid")
    {
        <div class="alert alert-danger" role="alert">
            This document was corrupted, this is an invalid signature!!!
        </div>
    }
}*@

<a asp-controller="VerifySignature" asp-action="VerifyUser">Back</a>
