
<h4 class="display-4">Verify signature</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="VerifySign" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="username" class="control-label">Username that signed document:</label>
                <input fro="username" name="username" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
