@model VerifyUserModel

<h4 class="display-4">Verify signature</h4>

<br />

<div asp-validation-summary="All" class="text-danger"></div>


<form action="VerifyUser" enctype="multipart/form-data" method="post">
    <div class="card border-secondary mb-3" >
        <div class="card-body text-secondary">
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username that signed document:</label>
                <input asp-for="Username" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
