@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 class="display-3">verify signature</h3>

<div class="row">
    <div class="col-md-4">
        <form action="VerifySignatureDocument" method="post">
            <div class="form-group">
                <label for="username" class="control-label">username that signed document</label>
                <input fro="username" name="username" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="signature" class="control-label">user signature</label>
                <textarea class="form-control" name="signature" rows="3"></textarea>
                @*<input for="signature" name="signature" type="text" class="form-control" />*@

            </div>
            <div class="form-group">
                <label for="document">Document:</label>
                <input for="document" name="document" type="file" class="form-control-file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
