
<h4 class="display-4">Verify signature</h4>

<hr />


<div class="row">
    <div class="col-md-4">
        <form action="VerifySign" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="Username" class="control-label">Username that signed document:</label>
                <input fro="Username" name="Username" type="text" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Error_UsernameMissing"] != null)
            {
                <p class="alert alert-danger" id="documentError">@TempData["Error_UsernameMissing"]</p>
            }
            @if (TempData["Error_UserDoNotExist"] != null)
            {
                <p class="alert alert-danger" id="documentError">@TempData["Error_UserDoNotExist"]</p>
            }
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
