

<h1>Load document to sign</h1>

<form method="post" enctype="multipart/form-data" asp-action="LoadDocumentToSign">
    <div class="form-group">
        <label for="Username" class="control-label">Username</label>
        <input for="Username" name="Username" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CertificateName" class="control-label">Certificate name</label>
        <input for="CertificateName" name="CertificateName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Document"><strong>Document</strong></label>
        <input for="Document" name="Document" type="file" >
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>