@model UploadDocumentModel

<h1>Upload document to sign</h1>

<form method="post" enctype="multipart/form-data" asp-action="LoadDocumentToSign">
    <input type="hidden" name="username" value=@Model.Username id="username" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label for="certificateName">Choose a certifificate:</label>
    <select class="form-control" name="certificateName" id="certificateName">
        @{
            if (Model != null)
                foreach (var c in Model.Keys)
                {
                    <option value=@c.CertificateName>@c.CertificateName</option>
                }
        }
    </select>
    <div class="form-group">
        <label for="Document"><strong>Document</strong></label>
        <input for="Document" name="Document" type="file">
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>