@model IEnumerable<User>

<h1>Users</h1>

@{

    foreach (var user in Model)
    {
        <div class="card">

            <div class="card-body">
                <partial name="_UserList" model="user" view-data="ViewData" />
            </div>
         
        </div>
        <br />

    }
}
