@model Login
@{
    ViewData["Title"] = "Login";
    TempData["Login"] = "active";

}


<br />

@if (TempData["CreatedAccount"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["CreatedAccount"]</p>
    </div>
}

<div class="card border-secondary mb-3">
    <div class="card-body text-secondary">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <span>Please correct the following errors</span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" value="" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="float-right" asp-controller="Authenticate" asp-action="Register">
                    Create a new account!
                </a>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
