@{
    @model Key
    ViewData["Title"] = "Edit Certificate";
    TempData["Profile"] = "active";
}

<script type="text/javascript">
    function countChar(val) {
        var len = val.value.length;
        if (len >= 100) {
            val.value = val.value.substring(0, 100);
        } else {
            $('.numbersofChart').text(100 - len);
        }
        color = len < 50 ? 'green' : 'red';
        $('.numbersofChart').css({
            'color': color
        });
    };
</script>

<h4 class="display-4">Edit certificate</h4>

<hr />
<div class="card border-secondary mb-3">
    <div class="card-body text-secondary">
        <form asp-action="EditCertificate">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                <span>Please correct the following errors</span>
            </div>
            <input type="hidden" asp-for="KeyId" />
            <input type="hidden" asp-for="PublicKey" />
            <input type="hidden" asp-for="KeySize" />
            <div class="form-group">
                <label asp-for="CertificateName" class="control-label"></label>
                <input asp-for="CertificateName" class="form-control" value="@Model.CertificateName" />
                <span asp-validation-for="CertificateName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <div class="numbersofChart float-right" style="color:green">100</div>
                <textarea class="form-control" asp-for="Description"  value="@Model.Description" rows="3" onkeyup="countChar(this)"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="UserProfile" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

